@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: liner-gradient(90deg, #e2e2e2, #c9d6ff);
}

.containers {
  position: relative;
  width: 850px;
  height: 550px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
}

.form-box {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #fff;
  right: 0;
  padding: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #333;
  border-radius: 20px;
  /* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
  overflow: hidden;
  z-index: 1;
  transition:
    0.5s ease-in-out 1.2s,
    visibility 0s 1s;
}

.containers.active .form-box {
  right: 50%;
}

.containers.active .form-box.register {
  visibility: visible;
}

.form-box.register {
  visibility: hidden;
}

form {
  width: 100%;
  padding: 20px;
}

.containers h1 {
  font-size: 36px;
  margin: -10px 0;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 500;
  outline: none;
  background: #eee;
  border-radius: 8px;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.input-boxs {
  position: relative;
  margin: 15px 0;
}

.input-boxs input {
  width: 100%;
  padding: 11px 40px 11px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 500;
  background: #eee;
  border-radius: 8px;
}

.input-boxs input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-boxs i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.forget-link {
  margin: -15px 0 15px;
}

.forget-link a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
.btn {
  width: 100%;
  padding: 13px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background: #333;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin: 10px 0;
}
.containers p {
  font-size: 14.5px;
  color: #333;
  margin: 15px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  justify-content: center;
  margin: 20px 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin: 0 8px;
}

.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.6s ease-in-out;
}

.toggle-panel.toggle-left {
  left: 0;
  transition: 1.2s;
}
.containers.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s ease-in-out;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition: 0.5s ease-in-out;
}
.containers.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 0.6s ease-in-out;
}

.toggle-box::before {
  content: "";
  width: 300%;
  position: absolute;
  left: -250%;
  height: 100%;
  background: #339e3cff;
  z-index: 2;
  transition: 1.8s ease-in-out;
  border-radius: 150px;
}

.containers.active .toggle-box::before {
  left: 50%;
}

.toggle-panel p {
  color: #fff;
  margin-bottom: 20px;
}

.toggle-panel button {
  width: 150px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
}

.input-boxs {
  position: relative;
  margin: 15px 0;
}

.input-boxs input {
  width: 100%;
  padding: 11px 40px 11px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
  font-weight: 500;
  background: #eee;
  border-radius: 8px;
}

.input-boxs input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-boxs i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

@media screen and (max-width: 650px) {
  .containers {
    height: calc(100vh - 40px);
    position: relative;
  }
  form {
    padding: 0px;
  }
  .form-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 70%;
  }
  .containers.active .form-box {
    height: 70%;
    bottom: 30%;
    right: 0;
  }

  .toggle-box::before {
    width: 100%;
    height: 300%;
    top: -270%;

    left: 0;
    border-radius: 20vw;
  }

  .containers.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .toggle-panel {
    height: 30%;
    width: 100%;
  }

  .containers.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel.toggle-left {
    top: 0;
  }

  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }
  .containers.active .toggle-panel.toggle-right {
    bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .font-box {
    padding: 20px;
  }
  .toggle-panel h1 {
    font-size: 30px;
  }
}
