.premium-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.premium-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.premium-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(8, 198, 39, 0.6),
    rgba(14, 165, 233, 0.6)
  );
  border-radius: 999px;
}

.premium-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(8, 198, 39, 0.6),
    rgba(14, 165, 233, 0.9)
  );
}

/* Firefox */
.premium-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(8, 198, 39, 0.6) transparent;
}
